node_modules/
.idea/
.DS_Store
frontend/dist/
frontend/.vite/

# Solidity build artifacts and caches
out/
cache/
broadcast/
artifacts/
hardhat-artifacts/
hardhat-cache/

contracts/out/
contracts/cache/
contracts/broadcast/
contracts/artifacts/
contracts/hardhat-artifacts/
contracts/hardhat-cache/
package-lock.json
